<div class="footer-wrapper clearfix">
  <div class="info-wrap">
    <div class="social-links">
      <h3>follow me:</h3>
      <ul>
        <li><a target="_blank" href="//www.facebook.com/portizphoto"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="//www.instagram.com/portizphoto/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="//www.twitter.com/portizphoto"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="//portizphoto.tumblr.com/"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="mailto:booking@patortiz.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>  
  <p>COPYRIGHT © PAT ORTIZ PHOTOGRAPHY. ALL RIGHTS RESERVED</p>  
  <a target="_blank" href="//www.ographix.com">Powered by Ographix</a>
</div>
