<div class="header-wrapper" id="header">

  <div class="menu-triggers">
    <div class="open-menu active menu-trigger">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="close-menu menu-trigger">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>    
  </div>
  <div class="menu-wrapper">
    <div class="menu-backgrounds">
      <div class="bg-img home-img"></div>
      <div class="bg-img aboutme-img"></div>
      <div class="bg-img mywork-img"></div>
      <div class="bg-img contactme-img"></div>
    </div>
    <ul>
      <li><a class="nav-item" data-bg="home-img" href="#">Home</a></li>
      <li><a class="nav-item" data-bg="aboutme-img" href="#">About Me</a></li>
      <li><a class="nav-item" data-bg="mywork-img" href="#">My Work</a></li>
      <li><a class="nav-item" data-bg="contactme-img" href="#">Contact Me</a></li>
    </ul>
  </div>
</div>