<div class="home-wrapper">
  <div class="intro-wrapper">
    <div class="banner-content">
      <h1>Welcome to my site.</h1>
      <div class="intro-button">View My Work</div>
    </div>
  </div>
  <div class="home-container">
    {{> partials/home-content }}
    {{> partials/footer }}
    {{> partials/scripts }}
  </div>
</div>