<div class="splash-wrapper">
  <div class="ha-waypoint port-image intro-wrap" data-animate-down="image-active">
    <div class="splash-content">
      <img src="../static/logo-white.svg" alt="">
      <h1>Pat Ortiz</h1>
      
    </div>
  </div>
  <div class="sample-work">
    <h1 class="section-title">A little Smaple <span>Of my Work</span></h1>
    <div class="row">
      <div class="hidden-sm hidden-xs col-md-4">
        <div class="spacer"></div>
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/sterling.jpg" alt="">
      </div>
      <div class="hidden-sm hidden-xs col-md-4"></div>
    </div>
    <div class="row">
      <div class="hidden-sm hidden-xs col-md-4">
        <div class="spacer"></div>
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/kasey-one.jpg" alt="">
      </div>
      <div class="hidden-sm hidden-xs col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/steph-one.jpg" alt="">
      </div>
      <div class="col-sm-12 col-md-8">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/hallie-one.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="hidden-sm hidden-xs col-md-4">
        <div class="spacer"></div>
      </div>
      <div class="hidden-sm hidden-xs col-md-4">
        <div class="spacer"></div>
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/kasey-two.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/ashley-one.jpg" alt="">
      </div>
    </div>        
    <div class="row">

      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
      </div>

    </div>      
    <div class="row">
      <div class="col-md-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/conner-one.jpg" alt="">
      </div>
      <div class="hidden-sm hidden-xs col-md-4">
        <div class="spacer"></div>
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/courtney-one.jpg" alt="">
      </div>
    </div> 
    <div class="row">

      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/troy-one.jpg" alt="">
      </div>

    </div> 
    <div class="row">
      <div class="col-sm-12">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/chelsea.jpg" alt="">
      </div>
    </div>   
    <div class="row">
      <div class="col-md-4 col-md-4-offset-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/kay-one.jpg" alt="">
      </div>
    </div> 
    <div class="row">
      <div class="col-sm-12">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/chelsi.jpg" alt="">
      </div>
    </div> 
    <div class="row">
      <div class="ccol-sm-12 col-md-4 col-md-offset-4">
        <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/sample-work/taylor-one.jpg" alt="">
      </div>
    </div>     
  </div>  
  <div class="image-one"></div>
  <div class="video-one">
    <div class="video-container hidden-sm hidden-xs">
      <video autoplay loop id="bgvid" class="home-video">
        <source src="/static/video.mp4" type="video/mp4" preload="metadata">
      </video>        
    </div>   
  </div>
  <div class="about"> 
    <div class="container">
      <h1 class="section-title">About Me</h1>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <img class="ha-waypoint port-image" data-animate-down="image-active" src="../static/me.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-7"> 
          <p>Hello and welcome. Where do I start? I am a full-time front-end web developer at a small tech company in Austin, TX. I’ve been a front-end web dude for about 6 years now. I love every minute of it. I also dabble in a few other things some would call hobbies. I’ve been running a clothing line, Timber Threads for a little over 5 years now. It started by creating some abstract art in Photoshop, then I decided to slap them on a t-shirt. I also co-run a hockey company, Timber Hockey on the side with a partner.</p>
          <p>So this brings me to another hobby of mine, photography. I’ve been behind the camera snapping pics for close to 3 years now. My interest came when I moved from Denver to Idaho for a job. All my photographer contacts that I had made shooting stuff for my clothing brand had all been in Denver. While attending the shoots I found that I really enjoyed being involved and took interest in it quickly, so I decided to pick up a camera and give it a try. I fell in love with it. There is something intangible about creating art with an image that drives me to keep shooting, something raw and fulfilling. The high I get when a photo gets people to react in anyway, is something that never gets old.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="image-two"></div>  

  <div class="info-wrap">
    <div class="social-links">
      <h3>follow me:</h3>
      <ul>
        <li><a target="_blank" href="//www.facebook.com/portizphoto"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="//www.instagram.com/portizphoto/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="//www.twitter.com/portizphoto"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="//portizphoto.tumblr.com/"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="mailto:booking@patortiz.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>  
</div>