<div class="work-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/hallie-one.jpg" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/ashley-one.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
      <div class="col-md-8 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/hallie-one.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a class="port-wrap" href="#">
          <div class="port-title">
            <h2>Name</h2>
            <h3>Location</h3>
          </div>
          <img class="ha-waypoint port-img" data-animate-down="image-active" src="../static/sample-work/shelby-one.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>